/* ----- GLOBAL STYLES ----- */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "Athiti", sans-serif;
  color: #ded4c6;
  background-color: #292929;
  line-height: 2rem;
}

ul {
  margin: auto;
  padding: 0;
}

/* ----- TYPOGRAPHY ----- */

h1 {
  font: 700 3.5rem/6rem "Pridi", sans-serif;
  text-transform: uppercase;
  color: #2b2a2a;
  margin-top: 0;
}

h2 {
  font: 600 2.5rem/4rem "Pridi", sans-serif;
  text-transform: uppercase;
  color: #ff6b35;
  margin: 30px 0;
}

h3 {
  font-family: "Pridi", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
}

a {
  color: #000;
  text-decoration: none;
  display: block;
  margin: 20px 30px 20px 0;
  padding: 12px 48px;
}

li {
  list-style-type: none;
}

/* ----- UTILITY ------ */

.content-width {
  width: 334px;
  margin: auto;
}

.dark-background {
  background-color: #292828;
}

a.button {
  font: 600 1.8rem "Athiti", sans-serif;
  color: #cae9ff;
  background-color: #fa3e3e;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  margin: 20px 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.film-layer {
  border-radius: 10px;
  background-color: #00000068;
  width: 100%;
  height: 100%;
}

/* ------ Header ------ */

header {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

nav {
  display: flex;
  flex-direction: column;
}

nav ul {
  color: #000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: none;
}

a.toggle {
  padding: 0;
}

header a.button {
  display: none;
}

nav .toggle {
  position: absolute;
  align-self: flex-end;
  cursor: pointer;
  top: 40px;
}

.show-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 60px;
}

/* ---- Home Hero ---- */

/* Needs Backgorund Video */

h1 {
  text-align: center;
}

/* ---- Home Action ---- */

.home-action {
  text-align: center;
  padding: 50px 0;
}

/* ---- Home Blog ---- */

.home-blog {
  text-align: center;
  padding: 50px 0;
}

.cards li {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 25px;
  border-radius: 10px;
}

.home-blog img {
  width: 100%;
  border-radius: 10px;
}

.home-blog .film-layer {
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}

.cards h3 {
  font: 700 4rem "Athiti", sans-serif;
  color: #cae9ff;
  position: absolute;
  z-index: 2;
  margin: 0 10px;
}

/* FIX CARDS */

/*---- Home Testimonials ---- */

.home-testimonials {
  background-image: url(images/woodpile.jpg);
  background-size: cover;
  text-align: center;
  padding: 50px 0;
}

.home-testimonials h3 {
  color: #cae9ff;
}

.home-testimonials li {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  color: #f8e8d0;
  background-color: #292828a2;
  border-radius: 5px;
  width: 100%;
  height: 35vh;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  z-index: 2;
}
/* ---- Home Contact ---- */

.home-contact {
  text-align: center;
  padding: 50px 0;
  color: #cae9ff;
}

iframe {
  width: 100%;
}

.op-hours,
.op-info {
  background-color: #00000068;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 7%;
  border-radius: 5px;
  padding: 20px 0;
}

.home-contact p {
  color: #292828;
}

/* ----- Home Footer ----- */

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

footer .border {
  font-size: 1.4rem;
  text-align: center;
  padding: 5px 20px;
  border-top: 1px solid #c2d1d9;
}

/*---------------- DeskTop Device -----------------------*/

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 6.6rem;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
  }

  .content-width {
    width: 1130px;
  }

  /*  Large Header */

  header {
    display: flex;
    justify-content: space-around;
  }

  nav .toggle {
    display: none;
  }

  header a.button {
    display: inline-block;
    order: 1;
  }

  nav ul {
    display: flex;
  }

  /* Large Hero */

  /* Large Blog */

  .home-blog .cards {
    display: flex;
    justify-content: center;
  }

  .home-blog li {
    width: 30%;
    margin: 10px;
  }

  .home-blog img {
    height: 100%;
  }
  /* Large Testimonials */

  .home-testimonials {
    height: 103.5vh;
  }

  .customer-reviews {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }

  .customer-reviews li {
    width: 30%;
  }

  /* Large Contact */

  .home-contact {
    height: 70vh;
    padding: 50px 0;
  }

  iframe {
    float: left;
    width: 50%;
  }

  .contact-info {
    float: right;
  }

  .contact-info a.button {
    margin: 80px 0;
  }

  /* Large Footer */

  footer ul {
    flex-direction: row;
  }
}
